body {
  color: white;
  background-color: black;
}

#conteneur {
  width: 80%;
  background-color: white;
  padding: 15px;
  margin: auto;
}

header {
  background-color: #8e3557;
  height: 100px;
}

nav {
  background-color: #4a1a2c;
}

main {
  background-color: white;
  padding: 15px;
  border: 2px solid black;
  min-height: 100px;
  margin: auto;
}

.a {
  background-color: #4a1a2c;
}

.b {
  background-color: #787746;
}

.c {
  background-color: #e6e2af;
}

.d {
  background-color: #add8e6;
}

footer {
  background-color: #8e3557;
  height: 100px;
}

section {
  background-color: white;
}

p {
  margin: 0;
}

div.dim {
  width: 50%;
  height: 200px;
  float: left;
}

.clear {
    clear: both;
}